*{
  margin: 0;
}
/* .App{

} */
body{
  background-color: #f5f6fa;
}
.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.app_stats{
  display: flex;
  justify-content: space-between;
}