*{
  margin: 0;
}
/* .App{

} */
body{
  background-color: #f5f6fa;
}
.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app_left{
  flex: 0.9;
}
.table{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
}
.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table td{
  padding: 0.5rem;
}
@media (max-width: 990px){
  .App{
    flex-direction: column;
  }
}